.body-schedule {
  position: absolute;
  width: 696px;
  height: 163px;
  left: 627px;
  top: 327px;
  background: #4A0D77;
  border-radius: 8px;
}

.eli-5 {
  width: 14px;
  height: 14px;
  background: #ECC561;
  border: 1px solid #EFD89E;
  border-radius: 100px;
  box-sizing: border-box;
}

.eli-4 {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #EB5F5F;
  border: 1px solid #FD7E7E;
  box-sizing: border-box;
}

.eli-3 {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #02E2BD;
  border: 1px solid #61F4D7;
  box-sizing: border-box;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin: 16px 616px 0 22px;
}

.work-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 658px;
  height: 70px;
  left: 649px;
  top: 395px;
  overflow: auto;
  margin-top: 39px;
  margin-left: 22px;
}

.date-job {
  padding-left: 5px;
  padding-right: 5px;
  width: max-content;
}

.icon-date {
  margin-right: 3px;
}

.text-date {
  width: 165.91px;
  height: 18px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.clear {
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  background-color: #2C3033;
  border-radius: 2px;
  width: 126px;
  height: 29px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
