@media screen and (min-width: 320px) and (max-width: 800px) {
  .body-home-page {
    position: relative;
    width: 320px;
    height: 810px;
    background: #FFFFFF;
  }
  
  .logo {
    position: absolute;
    width: 103px;
    height: 33.34px;
    left: 1323px;
    top: 16px;
  }
}

.body-home-page {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.logo {
  position: absolute;
  width: 103px;
  height: 33.34px;
  left: 1323px;
  top: 16px;
}
 
